<div class="card p-8">
    <div class="flex justify-between items-center mb-4">
        <h2 class="text-2xl font-bold">Gestión de Pagos</h2>
        <button
            pButton
            type="button"
            class="p-button p-component bg-blue-500 hover:bg-blue-600 text-white"
            icon="pi pi-plus"
            label="Nuevo Pago"
            [routerLink]="['/payments/new']"
        >
        </button>
    </div>

    <p-table 
        [value]="payments" 
        [loading]="loading"
        stripedRows 
        [tableStyle]="{'min-width': '50rem'}"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    >
        <ng-template #header>
            <tr>
                <th class="text-left">ID</th>
                <th class="text-left">Orden</th>
                <th class="text-left">Metodo de pago</th>
                <th class="text-left">Monto a pagar</th>
                <th class="text-left">Fecha de pago</th>
                <th class="text-left">Estado</th>
                <th class="text-center">Acciones</th>
            </tr>
        </ng-template>
        <ng-template #body let-payment>
            <tr>
                <td>{{payment.id}}</td>
                <td>{{payment.order.client.name}}</td>
                <td>{{payment.method}}</td>
                <td>{{payment.amount}}</td>
                <td>{{payment.payment_date | date:'dd/MM/yyyy'}}</td>

                <td>
                    <span 
                        class="px-2 py-1 rounded text-xs font-semibold"
                        [class]="payment.status === 'ACTIVE' ? 'bg-green-100 text-green-800' : 'bg-red-100 text-red-800'"
                    >
                        {{payment.status}}
                    </span>
                </td>
                <td class="text-center">
                    <div class="flex justify-left gap-2">
                        <button
                            pButton
                            type="button"
                            icon="pi pi-pencil"
                            class="p-button-rounded p-button-text p-button-warning"
                            [routerLink]="['/payments/edit', payment.id]"
                            pTooltip="Editar"
                        ></button>
                        <button
                            pButton
                            type="button"
                            icon="pi pi-trash"
                            class="p-button-rounded p-button-text p-button-danger"
                            (click)="deletePayment(payment)"
                            pTooltip="Eliminar"
                        ></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>